
@media screen and (min-width: 992px ){
    .carousel {
    width:900px; 
    height:500px;
    margin: auto;
    }
}


/* .slide-color { */



/* p {
    color: rgb(218, 94, 87);
}

h3 {
    color: rgb(218, 94, 87);
} */